/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2017, 10:47:54 PM
    Author     : vfgya
*/
body {
    font-family: Verdana, Arial;
    background-image: url(crossword.png);
}
* {
    margin: 0;
    padding: 0;
}


/* header */
header {
    width: 100%;
    height: 60px;
    background-color: #0c2069;
    margin-bottom: 20px;
}
header > a > h1 {
    font-size: 24px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 0;
    color: #fff;
    float: left;
}
header > a > h1 > span {
    position: absolute;
    top: 30px;
    font-size: 16px;
    color: #dcdcdc;
    float: left;
}
/* content */
.content-box {
    max-width: 960px;
    min-width: 200px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    padding-bottom: 20px;
    background-color: #fff;
    border: 1px #b8b8b8 solid;
    overflow:hidden 

}
.content-box > h2 {
    color: #636363;
    font-size: 26px;
}
h3 {
    color: #636363;
}
.content-box > p {
    color: #636363;
    line-height: 28px;
}
.content-box > a.forward {
    margin-top: 20px;
    display: block;
    text-decoration: none;
}
i.fa.fa-bars:hover {
    color: #636363;
}

/* Login site */
#login-form > .label-login {
    clear: both;
    display: block;
    margin-bottom: 5px;
    color: #636363;
}
#login-form >  .label-login {
    margin-top: 20px;
}
#login-form > .textbox {
    width: 300px;
    height: 35px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px #b8b8b8 solid;
    display: block;

}
#login-form > #login-btn {
    margin-top: 50px;
    width: 130px;
    height: 35px;
    border-radius: 3px;
    border: 1px #b8b8b8 solid;
    cursor: pointer;
    float: left;
    background-color: #d8d8d8
}

/* dashboard */
select.dropdown-create {
    width: 300px;
    height: 35px;
    float: left;
    clear: both;
    margin-bottom: 15px;
    padding-left: 3px;
}
label.label-dash {
    clear: both;
    float: left;
    font-size: 17px;
    margin-bottom: 5px;
    color: #636363;
}
#radio-box {
    clear: both;
    width: 400px;
    float: left;
}
p#dash {
    margin-bottom: 10px;
}

/* Links */
a#create-login {
    margin-top: 50px;
    float: right;
    width: 130px;
    height: 36px;
    border: 1px #b8b8b8 solid;
    text-decoration: none;
    padding-top: 7px;
    text-align: center;
    border-radius: 3px;
    background-color: #d8d8d8
}
a.icon-m > *{
    color: #fff;
}
a.icon-m >:hover {
    color: #d8d8d8;
}